@font-face {
  font-family: "IRANSansWeb";
  src: url("./dist/iransansweb/IRANSansWeb.ttf");
  src: url("./dist/iransansweb/IRANSansWeb.eot") format("embedded-opentype"), url("./dist/iransansweb/IRANSansWeb.woff") format("woff"), url("./dist/iransansweb/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansWeb_Bold";
  src: url("./dist/iransansweb/IRANSansWeb_Bold.ttf");
  src: url("./dist/iransansweb/IRANSansWeb_Bold.eot") format("embedded-opentype"), url("./dist/iransansweb/IRANSansWeb_Bold.woff") format("woff"), url("./dist/iransansweb/IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansWeb_UltraLight";
  src: url("./dist/iransansweb/IRANSansWeb_UltraLight.ttf");
  src: url("./dist/iransansweb/IRANSansWeb_UltraLight.eot") format("embedded-opentype"), url("./dist/iransansweb/IRANSansWeb_UltraLight.woff") format("woff"), url("./dist/iransansweb/IRANSansWeb_UltraLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: IRANSansWeb !important;
}

.bg_back {
  color: #2016b3;
}

.navbar {
  background-color: #f8f1e9;
  direction: rtl;
  z-index: 100;
  position: absolute;
  width: 100%;
}

.navbar .logo-img {
  width: 80px;
}

.navbar .nav-item {
  margin: auto;
}

.navbar .right-nav {
  font-family: IRANSansWeb_UltraLight;
  font-size: 14px;
}

.navbar .right-nav .nav-item a {
  color: #858587;
  padding: 0 10px;
}

.navbar .right-nav .nav-dropdown {
  color: #858587 !important;
}

.navbar .right-nav .nav-dropdown::after {
  display: none;
}

.navbar .left-nav {
  font-size: 13px;
}

.navbar .left-nav .nav-item a {
  color: #858587;
  padding: 0 10px;
}

.navbar .left-nav .user-icon {
  padding: 1px;
  border: 1px solid #858587;
  margin-left: 8px;
  font-size: 18px;
  border-radius: 1px;
}

.navbar .left-nav .nav-item .nav-dropdown {
  color: #858587 !important;
  text-align: center;
  direction: ltr;
  padding: 0 25px;
}

.navbar .left-nav .nav-item .nav-dropdown img {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #858587;
  margin-right: 8px;
  padding: 2px;
  left: 0;
  top: 10px;
}

.navbar .left-nav .nav-item .nav-dropdown p {
  display: inline-block;
  margin: 0;
  font-size: 12px;
}

.navbar .left-nav .nav-item .nav-dropdown:after {
  display: none;
}

.bg-box {
  top: 0;
  width: 100%;
}

.special-offers {
  background-color: #fec00a;
  direction: rtl;
  text-align: right;
  padding: 22px 0;
}

.special-offers .input-group {
  direction: ltr;
}

.special-offers .input-group input {
  border-color: white;
  background: transparent;
  color: white;
}

.special-offers .input-group .input-group-text {
  background: white;
  color: #fec00a;
}

.special-offers img {
  width: 100%;
}

.special-offers p {
  color: white;
}

.special-offers .text1 {
  font-size: 17px;
}

.special-offers .text2 {
  font-family: IRANSansWeb_UltraLight;
  font-size: 14px;
  text-align: justify;
  margin: 0;
  line-height: 1.3;
}

.special-offers .plane-images {
  position: relative;
}

.special-offers .plane-images img {
  position: absolute;
  top: 0;
  width: 125px;
}

.special-offers .plane-images .plane1 {
  left: 0;
}

.special-offers .plane-images .plane2 {
  right: 0;
}

.no-padding {
  padding: 0;
}

.searchbox-p {
  padding-top: 20%;
  margin: auto;
}

.searchbox-p .searchbox {
  position: relative;
}

.searchbox-p .searchbox .tab-card {
  padding: 80px 115px;
  direction: rtl;
}

.searchbox-p .searchbox .tab-card .inputgroups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group {
  direction: ltr;
  padding: 0 5px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text {
  font-size: 12px;
  border-radius: 0;
  border: 0;
  background-color: #eef0f1;
  height: 32px;
  direction: rtl;
  padding: 5px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text svg {
  color: #a3a5a8;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .calendar-icon {
  padding-left: 5px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .calendar-icon svg {
  font-size: 16px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .source-plane {
  padding-left: 5px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .source-plane svg {
  font-size: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .dest-plane {
  padding-left: 5px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .input-group-text .dest-plane svg {
  font-size: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .form-control:not(:last-child) {
  border-radius: 0;
  height: 32px;
  background-color: #eef0f1;
  border: 0;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .form-control:not(:last-child)::-webkit-input-placeholder {
  color: #9c9c9c;
  font-size: 12px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .form-control:not(:last-child):-moz-placeholder {
  color: #9c9c9c;
  font-size: 12px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .form-control:not(:last-child)::-moz-placeholder {
  color: #9c9c9c;
  font-size: 12px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-group .form-control:not(:last-child):-ms-input-placeholder {
  color: #9c9c9c;
  font-size: 12px;
}

.searchbox-p .searchbox .tab-card .inputgroups .input-btn {
  height: 32px;
  margin: 0 5px;
  padding: 0 10px;
  background-color: #eef0f1 !important;
  color: gray;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.searchbox-p .searchbox .tab-card .search-dropdown {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 8px;
}

.searchbox-p .searchbox .tab-card .search-dropdown .dropdown {
  display: inline;
}

.searchbox-p .searchbox .tab-card .search-dropdown .dropdown .btn-secondary.dropdown-toggle {
  background-color: white !important;
  color: gray;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
}

.searchbox-p .searchbox .md-tabs {
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  background: white;
  left: 20%;
  top: -50px;
  direction: rtl;
  padding: 0 20px;
}

.searchbox-p .searchbox .md-tabs .nav-item {
  text-align: center;
}

.searchbox-p .searchbox .md-tabs .nav-item a {
  padding: 15px 40px;
  display: block;
  padding-bottom: 0;
  color: #5e5e60;
}

.searchbox-p .searchbox .md-tabs .nav-item a span {
  padding-top: 10px;
  padding-bottom: 8px;
  display: block;
}

.searchbox-p .searchbox .md-tabs .nav-item a.active {
  color: #65bfbe !important;
}

.searchbox-p .searchbox .md-tabs .nav-item a.active span {
  border-bottom: 2px solid #65bfbe;
}

.searchbox-p .searchbox .md-tabs .nav-item svg {
  font-size: 25px;
}

.searchbox-p .searchbox .md-tabs .nav-item .plane-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.searchbox-p .searchbox .md-tabs .nav-item .insurance-icons {
  position: relative;
  height: 25px;
}

.searchbox-p .searchbox .md-tabs .nav-item .insurance-icons svg {
  position: absolute;
  display: block;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.searchbox-p .searchbox .md-tabs .nav-item .insurance-icons .insurance1 {
  top: 0;
  font-size: 20px;
}

.searchbox-p .searchbox .md-tabs .nav-item .insurance-icons .insurance2 {
  top: 7px;
}
/*# sourceMappingURL=styles.css.map */